# Source / build tooling (package.json "files" already whitelists dist + LICENSE + README)
src
docs
tsconfig.json
package-lock.json
*.zip
*.test.ts
.gitignore
.npmignore
.env
.env.*
.DS_Store
node_modules
